<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link defer id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" type="image/svg+xml" href="icon.svg">
    <title>Ankieta</title>
</head>

<body>
    <!-- <a href="/">Home</a> -->
    <%- body %>
        <h6>Aleksander Dunajewski<br>
            Uniwersytet Kazimierza Wielkiego w Bydgoszczy
        </h6>
</body>

</html>