<script defer src="/javascripts/slider.js"></script>
<h4>W pytaniach chodzi o drugi język obcy!<br>
    Pierwszy język obcy to zazwyczaj angielski.<br>
    W przypadku wątpliwości, zapytaj.</h4>

<form action="/" method="POST">
    <%- include("_form_fields") %>
        <h4 id="missing">Tutaj brakuje odpowiedzi w:
            <span id="add"></span>
        </h4>
        <div id="submit-container"><button id="submit" type="submit">Gotowe!</button></div>
</form>
<!-- <a href="/">Back</a> -->