<h4>
    Nazywam się Aleksander Dunajewski i też kiedyś chodziłem do tej szkoły [pozdrówcie odemnie Panią Malinowską od matmy
    ; )]. <br>
    Teraz kończę pisać pracę magisterską. Chcę się dowiedzieć czym się kierują uczniowie szkół średnich przy wyborze
    drugiego języka obcego. <br>
    Może to pomóc w przyszłości lepiej projektować ofertę edukacyjną szkół. <br>
    Potrzebuję Twojej pomocy. Chciałbym żebyś wypełnił/wypełniła krótką i anonimową ankietę. Zajmie Ci to max 5min. <br>
    Wszystkie pytania są zamknięte i na wszystkie trzeba udzielić odpowiedzi. Jeśli uważasz, że kilka odpowiedzi pasuje,
    to wybierz tą, która czujesz że pasuje najbardziej/najczęściej. <br>
    Na koniec naciśnij przycisk <span class="submit">Gotowe! </span> </h4>
<h3>
    <a href="/new">>>> Rozpocznij ankietę <<< </a>
</h3>
<br>
<!-- <a href="/show">Results</a> -->