@import 'shared/variables.css';
@import 'shared/survey.css';
@import 'shared/thankyou.css';

/* set up */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 50%;
}

body {
    font-size: 1rem;
}

/*  h */
h3 {
    text-align: center;
    /* margin: 5%; */
}

h4 {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 2%;
    margin: 3%;
    box-shadow: 0 1px 3px 0 var(--second-color), 0 1px 2px 0 var(--second-color);
}

h5 {
    width: 90%;
    margin: 3% auto;
    /* text-align: center; */
    text-decoration: underline;
    font-weight: 350;
}

h6 {
    margin: 2%;
}

/* links  */
a {
    text-decoration: none;
    box-shadow: 0 1px 3px 0 var(--accent-color), 0 1px 2px 0 var(--accent-color);
    cursor: pointer;
    color: var(--first-color);
    padding: 1em 1.5em;
    text-transform: uppercase;
    text-align: center;
}

a:hover {
    background-color: var(--first-color);
}

a:active {
    background-color: var(--accent-color);
}

a:visited {
    background-color: var(--bg-color);
}

/* other */
p {
    color: var(--first-color);
    font-weight: bold;
    margin: 1.5rem;
}

label {
    display: flex;
    width: 100%;
    cursor: pointer;
}

span {
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 768px) {

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
    }

}