.wrapper.thankyou {
    height: auto;
    overflow: visible;
}

.wrapper.thankyou label {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2%;
}

blockquote {
    width: 90vw;
    margin: 5% auto;
    border-left: 0.2em solid var(--accent-color);
    padding-left: 1em;
}

.sidekick {
    position: relative;
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 100;
}

.sidekick::before,
.sidekick::after {
    color: var(--accent-color);
    font-size: 2rem;
}

.sidekick::before {
    content: '\201e'
}

.sidekick::after {
    content: '\201c';
}

blockquote cite {
    display: block;
    font-size: 50%;
    margin-left: 1%;
    font-size: 1.2rem;
    top: 50%
}

blockquote cite::before {
    content: ' \2015 '
}